.menu {
  grid-column: menu;
  grid-row: menu;
  padding-block: var(--space-600);

  & > * {
    --_flow-gap: var(--space-600);
  }

  & > .name {
    max-width: calc(var(--p-max-width) * 0.6);
    margin-inline: auto;

    & h2 {
      font-family: var(--ff-logo);
      font-size: var(--fs-600);
    }

    & .icon-checkbox-heart {
      margin-inline-end: var(--space-400);
    }
  }

  & > .meal-category {
    & > * {
      --_flow-gap: var(--space-300);
    }

    & h3 {
      display: flex;
      flex-direction: column;
      gap: var(--space-200);
      font-size: var(--fs-300);
      font-weight: var(--fw-300);
      text-transform: uppercase;
    }

    & h3::after {
      content: '';
      width: var(--space-600);
      height: calc(var(--space-100) / 2);
      background-color: var(--clr-information-400);
    }

    & .menu-item {
      position: relative;
      --_flex-align: stretch;

      & > .left {
        min-width: 0;
        padding-inline: var(--space-300);
        padding-block: var(--space-200);

        & .dish-name {
          font-weight: var(--fw-500);
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        & .dish-info {
          font-size: var(--fs-300);
          font-weight: var(--fw-300);
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      & > .right {
        --_flex-align: stretch;

        & .dish-price {
          align-self: flex-end;
          padding: var(--space-200);
          font-size: var(--fs-300);
          font-weight: var(--fw-700);
          color: var(--clr-neutral-700);
        }

        // Item select icon
        & .icon-circle-check:has(> input[type='checkbox'])::before {
          margin-inline-end: 0;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 200ms ease-out;
        }
        &
          .icon-circle-check:has(
            > input[type='checkbox']:not(:checked)
          )::before {
          content: '';
        }

        & .icon-circle-check:has(> input[type='checkbox']:checked)::before {
          content: '\e909';
          display: flex;
          justify-content: center;
          align-items: center;
          border-start-end-radius: var(--space-400);
          border-end-end-radius: var(--space-400);
          width: var(--space-700);
          height: 100%;
          color: var(--clr-neutral-100);
          background-color: var(--clr-information-400);
          transform: scaleX(1);
        }

        & label {
          --_flex-gap: 0;

          position: absolute;
          inset: 0;
        }
      }
    }
  }

  & .main-action-button {
    padding-block: var(--space-300);
    padding-inline: var(--space-600);
  }
}

@for $i from 1 through 5 {
  .meal-category:nth-child(#{$i}) {
    animation-delay: #{$i * 250}ms;
  }
}

.meal-category {
  opacity: 0;
  animation: FadeIn 1s linear;
  animation-fill-mode: forwards;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
