.loader-screen {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  animation: remove-loader 0ms 2s forwards;
}

@keyframes remove-loader {
  100% {
    transform: translateY(-100%);
  }
}
/* Parameters */
/* Mixins */
/* Animations */
.spin {
  animation: spin 750ms infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.rspin {
  animation: rspin(2250ms) infinite linear;
}

@keyframes rspin {
  to {
    transform: rotate(-360deg);
  }
}
/* Styles */
.loader {
  background-color: var(--clr-accent-400);
  border-radius: 100%;
  position: relative;
  height: 60px;
  width: 60px;
  overflow: hidden;
}
.loader .c {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -34% 0 0 -34%;
  width: 68%;
  height: 68%;
  background-color: var(--_clr-bg);
  border-radius: 100%;
  z-index: 3;
}
.loader .d {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.loader .d .e {
  position: absolute;
  top: 1%;
  left: 50%;
  margin: 0 0 0 -6px;
  height: 14px;
  width: 12px;
  transform: rotate(10deg) skew(20deg);
  border-radius: 3px;
  background: var(--clr-accent-700);
}
.loader .r {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: -1px;
  bottom: -1px;
  margin-left: -3px;
  background-color: var(--_clr-bg);
  width: 6px;
}
.loader .r1 {
  transform: rotate(0deg);
}
.loader .r2 {
  transform: rotate(45deg);
}
.loader .r3 {
  transform: rotate(90deg);
}
.loader .r4 {
  transform: rotate(135deg);
}

.main-content > * {
  --_flow-gap: var(--space-500);
}

.section-header {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
}

.hero {
  --flex-gap: var(--space-500);
}
.hero > * {
  padding-inline: var(--space-500);
}
.hero p {
  font-weight: var(--fw-300);
  line-height: 1.1;
}

.concept-steps {
  --_grid-gap: var(--space-400);
  --_min-column-width: 100%;
  justify-items: center;
}

.concept-steps > [class^=icon-] {
  position: relative;
  width: min(var(--p-max-width) / 2, 100%);
}
.concept-steps > [class^=icon-]::before {
  position: absolute;
  color: var(--clr-accent-700);
  top: 50%;
  transform: translate(-50%, -50%);
}
.concept-steps > [class^=icon-] > span {
  display: block;
  width: 100%;
  padding-inline: var(--space-500);
  padding-block: var(--space-400);
}
.concept-steps > [class^=icon-] > span::before {
  color: var(--clr-neutral-500);
}
.concept-steps > [class^=icon-]:last-child > span::before {
  color: var(--clr-accent-700);
}

@media (min-width: 1024px) {
  .concept-steps {
    --_min-column-width: calc(33% - 2 * var(--_grid-gap));
  }
}
.feed {
  --_min-column-width: 100%;
}

.restaurant {
  position: relative;
}
.restaurant > .preview {
  position: relative;
  border-radius: inherit;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
  aspect-ratio: 2/1;
}
.restaurant > .preview > img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.restaurant > .preview > em {
  position: absolute;
  top: var(--space-300);
  left: calc(100% - var(--space-300));
  transform: translateX(-100%);
  display: block;
  width: max-content;
  padding-inline: var(--space-200);
  padding-block: var(--space-100);
  font-size: var(--fs-200);
  font-weight: var(--fw-500);
  font-style: normal;
}
.restaurant > .details {
  padding-block: var(--space-300);
  padding-inline-start: var(--space-300);
  padding-inline-end: var(--space-400);
}
.restaurant > .details h3 {
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
}
.restaurant > .details p {
  font-size: var(--fs-300);
  font-weight: var(--fw-300);
}
.restaurant > .details label {
  position: relative;
  z-index: 1;
  font-size: var(--fs-500);
  margin-inline-end: 0;
}
.restaurant > .link-to-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 650px) {
  .feed {
    --_grid-gap: var(--space-200-600) var(--space-100-800);
    --_min-column-width: calc(50% - var(--space-100-800));
  }
}

/*# sourceMappingURL=home.css.map */
