:root {
  --maxWidth: 1240px;
  --fs-100: clamp(0.64rem, 0.6549rem + -0.0192vi, 0.651rem);
  --fs-200: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  --fs-300: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  --fs-400: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --fs-500: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --fs-600: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --fs-700: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --fs-800: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --fs-900: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --space-100: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
  --space-200: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
  --space-300: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
  --space-400: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --space-500: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
  --space-600: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
  --space-700: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
  --space-800: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
  --space-900: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);
  --space-100-200: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
  --space-200-300: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
  --space-300-400: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  --space-400-500: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  --space-500-600: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  --space-600-700: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
  --space-700-800: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
  --space-800-900: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);
  --space-300-500: clamp(0.875rem, 0.5272rem + 1.7391vi, 1.875rem);
  --space-500-700: clamp(1.6875rem, 0.9701rem + 3.587vi, 3.75rem);
}

:root {
  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #f6f6f6;
  --clr-neutral-300: #eaeaea;
  --clr-neutral-500: #7e7e7e;
  --clr-neutral-700: #353535;
  --clr-neutral-900: #000000;
  --clr-scheme-1: #9356dc;
  --clr-scheme-2: #ff79da;
  --clr-scheme-3: #99e2d0;
  --clr-scheme-4: #008766;
  --clr-accent-400: var(--clr-scheme-3);
  --clr-accent-700: var(--clr-scheme-1);
  --clr-information-700: var(--clr-scheme-4);
  --clr-information-400: var(--clr-scheme-3);
  --gradient-primary-400: linear-gradient(
    180deg,
    var(--clr-scheme-1) 0%,
    var(--clr-scheme-2) 100%
  );
  --gradient-primary-700: linear-gradient(
    0deg,
    var(--clr-scheme-1) 0%,
    var(--clr-scheme-2) 100%
  );
}

@font-face {
  font-family: "OCPR02-ohmyfood";
  src: url("../fonts/OCPR02-ohmyfood.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Shrikhand", serif;
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --ff-sans: "Roboto", sans-serif;
  --ff-logo: "Shrikhand", serif;
  --ff-icons: "OCPR02-ohmyfood";
}

:root {
  --p-max-width: 65ch;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  hanging-punctuation: first last;
  scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block: 0;
  margin-inline: 0;
}

/* Set core body defaults */
body {
  min-height: 100svh;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
}

/* Remove default list styles on lists that have classes on them without raising specificity */
ul:where(ul[class]),
ol:where(ol[class]) {
  margin-block: 0;
  padding-inline-start: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
  shape-margin: var(--space-200);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: calc(10 * var(--space-400));
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: var(--space-600);
}

[class^=bg-],
[class*=" bg-"] {
  background-color: var(--_clr-bg, red);
  color: var(--_clr-txt, red);
  background-image: var(--_gradient);
}

.bg-clear {
  --_clr-bg: var(--clr-neutral-100);
  --_clr-txt: var(--clr-neutral-900);
}

.bg-radiance {
  --_clr-txt: var(--clr-neutral-200);
}

.bg-light {
  --_clr-bg: var(--clr-neutral-200);
  --_clr-txt: var(--clr-neutral-900);
}

.bg-midtone {
  --_clr-bg: var(--clr-neutral-300);
  --_clr-txt: var(--clr-neutral-700);
  --_fw: var(--fw-500);
  font-weight: var(--_fw);
}

.bg-dark {
  --_clr-bg: var(--clr-neutral-700);
  --_clr-txt: var(--clr-neutral-100);
}

.bg-gradient {
  --_clr-bg: var(--clr-primary-gradient-400);
  --_clr-txt: var(--clr-neutral-100);
  --_gradient: var(--gradient-primary-700);
}

svg > path {
  fill: var(--_clr-txt, --clr-neutral-900);
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  display: inline-block;
  color: inherit;
  font-family: var(--ff-icons) !important;
  font-size: inherit;
  font-weight: var(--fw-400);
  line-height: 1;
  speak: never;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: text-bottom;
  margin-inline-end: var(--space-200);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gradient-400:before {
  background-image: var(--clr-primary-gradient-400);
  background-clip: text;
  color: transparent;
}

.icon-gradient-700:before {
  background-image: var(--clr-primary-gradient-700);
  background-clip: text;
  color: transparent;
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-handshake-angle:before {
  content: "\e901";
}

.icon-heart-solid:before {
  content: "\e902";
}

.icon-heart-thin:before {
  content: "\e903";
}

.icon-list-ul:before {
  content: "\e904";
}

.icon-location-dot:before {
  content: "\e905";
}

.icon-mobile-screen-button:before {
  content: "\e906";
}

.icon-store:before {
  content: "\e907";
}

.icon-utensils:before {
  content: "\e908";
}

.icon-circle-check:before {
  content: "\e909";
}

.icon-circle-1:before {
  content: "\e910";
}

.icon-circle-2:before {
  content: "\e911";
}

.icon-circle-3:before {
  content: "\e912";
}

input[type=checkbox]:not(:checked) + .icon-checkbox-heart::before {
  content: "\e903";
}

input[type=checkbox]:checked + .icon-checkbox-heart::before {
  content: "\e902";
  background-image: var(--clr-primary-gradient-400);
  background-clip: text;
  color: transparent;
}

/************
 * Content wrapper
 ************/
.wrapper {
  width: min(var(--_max-wrapper-width, var(--maxWidth)), 100% - var(--_inline-wrapper-padding, var(--space-500)) * 2);
  margin-inline: auto;
}

/************
 * Flow
 ************/
.flow > * + * {
  margin-block-start: var(--_flow-gap, var(--space-400));
}

.flow-padding > * {
  padding-block: var(--_flow-gap, var(--space-400));
}

/************
 * Flex
 ************/
[class^=flex-],
[class*=" flex-"] {
  display: flex;
  gap: var(--_flex-gap, var(--space-400));
}

.flex-wrapper {
  flex-direction: var(--_flex-direction, row);
  width: min(var(--_max-wrapper-width, var(--maxWidth)), 100% - var(--_inline-wrapper-padding, var(--space-500)) * 2);
  margin-inline: auto;
}

.flex-center {
  flex-direction: var(--_flex-direction, column);
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  --_flex-gap: normal;
  flex-direction: var(--_flex-direction, row);
  align-items: center;
  justify-content: space-between;
}

/************
 * Grid 
 ************/
[class^=grid-],
[class*=" grid-"] {
  display: grid;
  gap: var(--_grid-gap, var(--space-400));
}

.grid-even-columns {
  grid-template-columns: repeat(auto-fit, minmax(min(var(--_min-column-width, calc(10 * var(--space-400))), 100%), 1fr));
}

.test {
  --_grid-gap: 10px;
  gap: var(--_grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(50% - var(--_grid-gap), 100%), 1fr));
}

@media (min-width: 50em) {
  .grid-auto-flow {
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
  }
}
.grid-stack > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid-stack > img {
  aspect-ratio: initial;
  z-index: -1;
}

.card {
  box-shadow: 0 var(--space-100) var(--space-200) 0 var(--clr-neutral-700);
  padding: var(--space-400);
  transition: 0.3s;
}

/* On hover, add a deeper shadow */
.card:hover {
  box-shadow: 0 var(--space-200) var(--space-300) 0 var(--clr-neutral-700);
}

.shadow {
  box-shadow: 0px var(--space-100) var(--space-400) 0px color-mix(in srgb, var(--clr-neutral-900), transparent 85%);
}

.hidden {
  display: none;
}

.txt-center {
  text-align: center;
}

.section-header {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
}

.main-action-button {
  --clr-primary-gradient-400: linear-gradient(
    180deg,
    var(--clr-scheme-1) 0%,
    var(--clr-scheme-2) 100%
  );
  display: inline-block;
  padding-inline: var(--space-400);
  padding-block: var(--space-300);
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
  color: var(--_clr-txt);
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: var(--space-500);
  background-color: var(--_clr-bg);
  background-image: var(--_gradient);
}

.header-navigation {
  --_inline-wrapper-padding: 0px;
  position: relative;
}

.header-back-btn {
  position: absolute;
  color: var(--clr-neutral-200);
  font-size: var(--fs-500);
  top: 50%;
  transform: translate(var(--space-300-500), -50%);
}

.header-logo {
  margin-inline: auto;
  padding-block: var(--space-300-500);
  width: max-content;
  font-family: var(--ff-logo);
  font-size: var(--fs-700);
}

.location {
  padding-block: var(--space-200-300);
  margin-block-end: calc(var(--space-100) * 0.75);
  font-size: var(--fs-300);
  box-shadow: 0px var(--space-100) var(--space-100) 0px color-mix(in srgb, var(--clr-neutral-900), transparent 75%), inset 0px calc(var(--space-100) / 2) var(--space-100) 0px color-mix(in srgb, var(--clr-neutral-900), transparent 85%);
}
.location p::before {
  margin-inline-end: var(--space-400);
}

.main-footer {
  padding-block-start: var(--space-500-700);
  padding-block-end: var(--space-500);
}

.footer-content {
  --_flex-direction: column;
}
.footer-content h2 {
  width: max-content;
  font-size: var(--fs-400);
  font-family: var(--ff-logo);
}

.collaboration-links,
.support-links {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
}

@media (min-width: 854px) {
  .footer-content {
    --_flex-direction: row;
    --_flex-gap: var(--space-700);
    justify-content: end;
  }
  .footer-content h2 {
    order: 3;
  }
  .collaboration-links,
  .support-links {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-400);
  }
}
.main-site {
  --_flow-gap: var(--space-500);
}

.hero {
  --flex-gap: var(--space-500);
}
.hero > * {
  padding-inline: var(--space-500);
}
.hero p {
  font-weight: var(--fw-300);
  line-height: 1.1;
}

.concept-steps > [class^=icon-] {
  position: relative;
  width: min(100%, var(--p-max-width));
}
.concept-steps > [class^=icon-]::before {
  position: absolute;
  color: var(--clr-accent-700);
  top: 50%;
  transform: translate(-50%, -50%);
}
.concept-steps > [class^=icon-] > li {
  padding-inline: var(--space-500);
  padding-block: var(--space-400);
  border-radius: var(--space-300);
}
.concept-steps > [class^=icon-] > li::before {
  color: var(--clr-neutral-500);
}
.concept-steps > [class^=icon-]:last-child > li::before {
  color: var(--clr-accent-700);
}

@media (min-width: 1024px) {
  .concept-steps {
    --_flex-direction: row;
  }
}
.feed {
  --_min-column-width: 100%;
}

.restaurant {
  border-radius: var(--space-400);
}
.restaurant > img {
  border-radius: inherit;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
  object-fit: cover;
  aspect-ratio: 2/1;
}
.restaurant > .preview {
  border-radius: inherit;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
  aspect-ratio: 2/1;
}
.restaurant > .preview > img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.restaurant > .details {
  padding-block: var(--space-300);
  padding-inline-start: var(--space-300);
  padding-inline-end: var(--space-400);
}
.restaurant h3 {
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
}
.restaurant p {
  font-size: var(--fs-300);
  font-weight: var(--fw-300);
}

@media (min-width: 650px) {
  .feed {
    --_grid-gap: var(--space-400);
    --_min-column-width: calc(50% - var(--_grid-gap));
  }
}

/*# sourceMappingURL=style.css.map */
