[class^='bg-'],
[class*=' bg-'] {
  background-color: var(--_clr-bg, #fff);
  color: var(--_clr-txt, #000);
  background-image: var(--_gradient);
}

.bg-clear {
  --_clr-bg: var(--clr-neutral-100);
  --_clr-txt: var(--clr-neutral-900);
}

.bg-radiance {
  --_clr-txt: var(--clr-neutral-200);
}

.bg-light {
  --_clr-bg: var(--clr-neutral-200);
  --_clr-txt: var(--clr-neutral-900);
}

.bg-midtone {
  --_clr-bg: var(--clr-neutral-300);
  --_clr-txt: var(--clr-neutral-700);
  --_fw: var(--fw-500);

  font-weight: var(--_fw);
}

.bg-dark {
  --_clr-bg: var(--clr-neutral-700);
  --_clr-txt: var(--clr-neutral-100);
}

.bg-information {
  --_clr-bg: var(--clr-information-400);
  --_clr-txt: var(--clr-information-700);
}
