.hero {
  --_flow-gap: var(--space-500);

  // margin-block: var(--space-400);
  padding-block: var(--space-600);

  & > * {
    display: block;
  }

  p {
    font-size: var(--fs-400);
    font-weight: var(--fw-300);
    line-height: 1.1;
  }
}
