:root {
  // neutrals

  --clr-neutral-100: #ffffff; // 255
  --clr-neutral-200: #dfdfdf; // 223
  --clr-neutral-300: #bfbfbf; // 191
  --clr-neutral-400: #9f9f9f; // 159
  --clr-neutral-500: #808080; // 128
  --clr-neutral-600: #606060; // 96
  --clr-neutral-700: #404040; // 64
  --clr-neutral-800: #202020; // 32
  --clr-neutral-900: #000000; // 0

  // brand

  --clr-scheme-1: #9356dc;
  --clr-scheme-2: #003a68;
  --clr-scheme-3: #89c8fa;
  --clr-scheme-4: #008766;
  --clr-scheme-5: #99e2d0;

  --F3F3F3: #f6f6f6; // 246
  --EAEAEA: #eaeaea; // 234
  --7E7E7E: #7e7e7e; // 126
  --353535: #353535; // 53
}
