@font-face {
  font-family: 'OCPR02-ohmyfood';
  src: url('../fonts/OCPR02-ohmyfood.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Shrikhand', serif;
  src: url('../fonts/Shrikhand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --ff-sans: 'Roboto', sans-serif;
  --ff-logo: 'Shrikhand';
  --ff-icons: 'OCPR02-ohmyfood';
}
