@use 'utopia-core-scss-modified/utopia' as utopia;

$minWidth: 320;
$maxWidth: 1240;
$minFontSize: 18;
$maxFontSize: 20;

$minTypeScale: 1.2;
$maxTypeScale: 1.25;
$positiveTypeSteps: 5;
$negativeTypeSteps: 3;
$typePrefix: 'fs-';

$positiveSpaceSteps: (1.5, 2, 3, 4, 6);
$negativeSpaceSteps: (0.75, 0.5, 0.25);
$customSpaceSizes: ('300-500', '500-700', '200-600', '100-800');
$spacePrefix: 'space-';

:root {
  --max-width: #{$maxWidth}px;

  @include utopia.generateTypeScale(
    (
      'minWidth': $minWidth,
      'maxWidth': $maxWidth,
      'minFontSize': $minFontSize,
      'maxFontSize': $maxFontSize,
      'minTypeScale': $minTypeScale,
      'maxTypeScale': $maxTypeScale,
      'positiveSteps': $positiveTypeSteps,
      'negativeSteps': $negativeTypeSteps,
      'prefix': $typePrefix,
    )
  );

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  @include utopia.generateSpaceScale(
    (
      'minWidth': $minWidth,
      'maxWidth': $maxWidth,
      'minSize': $minFontSize,
      'maxSize': $maxFontSize,
      'positiveSteps': $positiveSpaceSteps,
      'negativeSteps': $negativeSpaceSteps,
      'customSizes': $customSpaceSizes,
      'prefix': $spacePrefix,
    )
  );
}
