@use '../../1_composition/breakpoints' as breakpoints;

.concept-steps {
  --_grid-gap: var(--space-400);
  --_min-column-width: 100%;

  justify-items: center;
}

.concept-steps > [class^='icon-'] {
  position: relative;
  width: min(calc(var(--p-max-width) / 2), 100%);

  &::before {
    position: absolute;
    color: var(--clr-accent-700);

    top: 50%;
    transform: translate(-50%, -50%);
  }

  & > span {
    display: block;
    width: 100%;
    padding-inline: var(--space-500);
    padding-block: var(--space-400);
    border-radius: var(--space-300);
  }

  & > span::before {
    color: var(--clr-neutral-500);
  }

  &:last-child > span::before {
    color: var(--clr-accent-700);
  }
}

@media (min-width: breakpoints.$home_concept-desktop) {
  .concept-steps {
    --_min-column-width: calc(33% - 2 * var(--_grid-gap));
  }
}
