@use '../../1_composition/breakpoints' as breakpoints;

.feed {
  --_min-column-width: 100%;
}

.restaurant {
  border-radius: var(--space-400);

  & > img {
    border-radius: inherit;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
    object-fit: cover;
    aspect-ratio: 2 / 1;
  }

  & > .preview {
    border-radius: inherit;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
    aspect-ratio: 2/1;

    & > img {
      border-radius: inherit;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  & > .details {
    padding-block: var(--space-300);
    padding-inline-start: var(--space-300);
    padding-inline-end: var(--space-400);
  }

  & h3 {
    font-size: var(--fs-400);
    font-weight: var(--fw-700);
  }

  & p {
    font-size: var(--fs-300);
    font-weight: var(--fw-300);
  }
}

@media (min-width: breakpoints.$home-restaurants-desktop) {
  .feed {
    --_grid-gap: var(--space-400);
    --_min-column-width: calc(50% - var(--_grid-gap));
  }
}
